* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
    box-sizing: border-box;
}

body {
    color: white;
    background-image: linear-gradient(#341fc5, #5369f1, #8dacf9);
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(/C-ode-aholics/Images/background.png);
    background-size: cover;
    background-position: center;
}

.container, #containers {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    margin-top: 20px;
    width: 290px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #341fc5;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: #5369f1;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 3%;
    font-size: 20px;
    background: rgb(83, 105, 241, 0.6);
    border-radius: 5px;
    width: 60%;
}

.header-text h1 {
    font-size: 40px;
    margin-top: 20px;
}
.header-text h3 {
    font-size: large;
    color: #341fc5;
    margin-top: 60px;
    font-weight: bolder;
}

.header-text p {
    color: white;
    font-weight: 500;
}

span {
    color: #341fc5;
}

hr {
    background-image: url(/C-ode-aholics/Images/hr.png);
    width: 100%;
    height: 10vh;
    border: double #341fc5 3px;
}

/* About Section */
#about {
    padding: 80px 0;
    color: white;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 40%;
}

.award-col-1 , .award-col-2, .adobe-col-1, .adobe-col-2, .webdesign-col-1, .webdesign-col-2 {
    flex-basis: 45%;
}

.award-col-1 figcaption, .award-col-2 figcaption {
  font-weight: 900;
}

.row p {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: bolder;
}

.about-col-1 img, .award-col-1 img, .award-col-2 img, .adobe-col-2 img {
    width: 100%;
    border-radius: 10px;
    border: solid  #341fc5 2px;
}

figcaption {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
}
.about-col-2 {
    margin-left: 80px;
    flex-basis: 50%;
}

html {
    scroll-behavior: smooth;
}

.sub-title {
    font-size: 50px;
    font-weight: 600;
    color: #341fc5;
}

.scripts, .works {
    display: flex;
}

.script-name, .work {
    margin-top: 20px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.center-text {
    text-align: center;
}


.light-blue-content h1 {
    color: white;
    margin-top: 80px;
    margin-bottom: 50px;
}

.light-blue-content p, .light-blue-content figcaption, .lighter-blue-content p{
    color:#341fc5;
    font-weight: 500;
}

.award-col-2 img {
    margin-top: 70px;
}

.resume {
    padding-top: 30px;
    width: 100%;
    height: 65vh;
    
}

summary {
background-color: #341fc5;
color: white;
cursor: pointer;
padding: 20px;
margin: 5px;
color: white;
outline: solid #341fc5 2px;
text-align: center;
margin-top: -40px;
}

details {
outline: solid #341fc5 2px;
border-radius: 5px;
margin: 10px;
}

details[open] summary {
background-color: #341fc5;
}

details > p {
padding: 5px;
font-size: 20px;
font-weight: bold;
border: 30px;
}

.lighter-blue-content h1 {
    margin-top: 80px;
    margin-bottom: 50px;
}

.adobe-col-1 h2 {
    color: #341fc5;
}
  
  div.gallery img {
    padding-top: 40px;
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    color: #341fc5;
    font-weight: 500;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }

  .adobe-col-1 figcaption, .adobe-col-2 figcaption {
    color: #341fc5;
    font-weight: 500;
  }

  .certificate {
    padding-top: 30px;
    width: 100%;
    height: 75vh;
  }
  
  .footer-distributed{
    background: #341fc5;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left{
    width: 40%;
  }

  .footer-left img {
    width: 60%;
  }
  
  .footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
  }
  
  .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    font-weight:400;
    text-decoration: none;
    color:  inherit;
    margin-top: 40px;
  }
  
  .footer-distributed .footer-company-name{
    color:  white;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }

  .email {
    margin-top: 40px;
    text-align: center;
    margin-right: 190px;
  }

  .company-name {
    text-align: center;
    margin-right: -10px;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center{
    width: 35%;
  }
  
  .footer-distributed .footer-left i{
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer-distributed .footer-left i.fa-email{
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    font-weight:400;
    vertical-align: middle;
    margin:0;
  }
  
  .footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
  }
  
  .footer-distributed .footer-center p a{
    color:  white;
    text-decoration: none;
  }
  
  .footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right{
    width: 20%;
  }
  
  .footer-distributed .footer-company-about{
    line-height: 20px;
    color:  white;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    text-align: right;
    margin-top: 20px;
  }
  
  .footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
.footer-left img {
    margin-top: 25px;
}

  .footer-distributed .footer-icons{
    margin-top: 25px;
  }
  
  @media (max-width: 880px) {
  
    .footer-distributed{
      font: bold 14px sans-serif;
    }
  
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
  
    .footer-distributed .footer-center i{
      margin-left: 0;
    }
  
  }


  /* Contact Page */

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #341fc5;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #341fc5;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=number], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #341fc5;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=message], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #341fc5;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
button[type=submit] {
    background: #341fc5;
	  outline: solid 2px #5369f1;
	  border: solid 2px white;
	  color: white;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
}

input[placeholder] {
    text-align: center;
}

button[type=submit] a {
    text-decoration: none;
    color: white;
}

.button {
    text-align: center;
}

/* Portfolio Page */

.portfolio-nav {
  display: inline-block;
  margin-top: 50px;
}

.portfolio-nav button {
  background: white;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  margin-left: 90px;
  margin-bottom: 50px;
  transition: background 0.5s, transform 0.5s;
  outline: double #341fc5 3px;
}

.portfolio-nav button i {
  font-size: 50px;
  margin-bottom: 30px;
  color: #5369f1;
}

.portfolio-nav h2 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 15px;
  color: #5369f1;
}

.portfolio-nav button:hover {
  background-color: #341fc5;
}

#webdesign, #adobe, #radio, #figma {
  margin-top: 80px;
  margin-bottom: 80px;
}

.figma-full {
  width: 100%;
}

#photoshop summary, #premiere summary, #illustrator summary, #ae summary {
  border-radius: 5px;
}

#adobe [open] {
  width: 100%;
}

embed {
  width: 100%;
  height: 100vh;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 15px;
  outline: double #341fc5 3px;
}

.wordpress {
  margin-top: 50px;
}

.wordpress-button {
  background: #341fc5;
	  outline: solid 2px #5369f1;
	  border: solid 2px white;
	  color: white;
    padding: 12px 20px;
    border-radius: 4px;
    margin-bottom: 40px;
}

.wp-btn {
  text-align: center;
}

video {
  margin-top: 30px;
  width: 90%;
  margin-bottom: 30px;
}

.photoshop-col-1, .photoshop-col-2 {
  flex-basis: 45%;
}

audio {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 80px;
}

audio {
  width: 80%;
}

.radio {
  text-align: center;
  font-weight: bold;
  display: inline-block;
  margin: 0 75px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.figma-project {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
}

#photoshop, #premiere, #illustrator, #ae {
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
  display: inline-block;
  width: 22%;
}

#photoshop img, #illustrator img {
  width: 45%;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 20px;
  outline: double 3px #341fc5;
}

.website input[type=button] {
    background: #341fc5;
	  outline: solid 2px #5369f1;
	  border: solid 2px white;
	  color: white;
    padding: 12px 20px;
    border-radius: 4px;
}

.website {
  text-align: center;
  margin-bottom: 60px;
}

.figma-col-1, .figma-col-2 {
  flex-basis: 45%;
}

iframe {
  outline: double #341fc5 3px;
  padding: 15px;
}

#figma h1 {
  padding-top: 30px;
  padding-bottom: 20px;
}

nav .fa-solid {
  display: none;
}

.premiere {
    background: #341fc5;
	  outline: solid 2px #5369f1;
	  border: solid 2px white;
	  color: white;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 20px;
}

.premiere a {
  text-decoration: none;
  color: white;
}

/*Mobile Styles*/
@media only screen and (max-width: 480px) {
  #header {
    background-image: url(/C-ode-aholics/Images/background-mobile.png);
    width: 100%;
  }

  hr {
    width: 100%;
  }

  .header-text {
    margin-top: 100%;
    font-size: 16px;
    width: 80%;
  }

  .header-text h1 {
    font-size: 30px;
  }

  nav .fa-solid {
    display: block;
    font-size: 25px;
    color: #341fc5;
  }

  nav ul {
    background-color: #8dacf9;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }

  nav ul li {
    display: block;
    margin: 45px;
  }

  nav ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
    color: #341fc5;
  }

  .sub-title {
    font-size: 35px;
  }

  .about-col-1, .about-col-2, .award-col-1, .award-col-2 {
    flex-basis: 100%;
  }

  .about-col-1 {
    margin-bottom: 30px;
  }

  .about-col-2 p {
    margin-top: 3px;
  }

  .about-col-2 {
    font-size: 14px;
    margin-left: 5px;
    text-align: center;
  }

  .award-col-2 {
    margin-top: -70px;
    margin-bottom: -30px;
  }

  .script-name {
    padding: 5px;
  }

  .adobe-col-1, .adobe-col-2 {
    flex-basis: 100%;
    display: inline-block;
  }

  .gallery img {
    width: 50%;
  }

  .responsive {
    width: 50%;
  }

  .footer-left img {
    margin-left: 30px;
  }

  .email {
    margin-right: -5px;
  }
  
  .footer-right {
    margin-right: 120px;
  }

  .company-name {
    margin-left: -30px;
  }

  .portfolio-nav {
    display: inline-block;
  }

  .portfolio-nav button {
    width: 10%;
    height: 10%;
  }

  .portfolio-nav button .fa-solid {
    font-size: 40px;
    margin-left: -50px;
    margin-top: -20px;
    width: 20%;
  }

  .portfolio-nav button .fa-brands {
    font-size: 40px;
    margin-left: -35px;
    margin-top: -20px;
    width: 20%;
  }

  .portfolio-nav button h2 {
    display: none;
  }

  #webdesign, #adobe {
    margin-top: -50px;
  }

  .webdesign-col-1, .webdesign-col-2 {
    flex-basis: 100%;
  }

  embed {
    width: 107%;
    margin-left: -10px;
  }

  #photoshop, #premiere, #illustrator {
    width: 100%;
  }

  #ae video, #premiere video {
    width: 90%;
  }

  #photoshop img, #illustrator img, #ae {
    width: 100%;
  }

  .figma-col-1, .figma-col-2 {
    flex-basis: 100%;
  }

  audio {
    width: 100%;
    margin-left: -1px;
  }

  .radio {
    display: inline-block;
    margin-left: 47px;
  }
}

/*Tablet Styles*/

@media (min-width: 481px) and (max-width: 768px) {
  #header {
    background-image: url(/C-ode-aholics/Images/background-tablet.png);
  }

  .header-text {
    margin-top: 30%;
    font-size: 20px;
    width: 50%;
  }

  hr {
    width: 100%;
  }

  .header-text h1 {
    font-size: 30px;
  }

  nav ul li {
    margin-top: 80px;
  }

  .sub-title {
    font-size: 35px;
  }

  .about-col-1, .about-col-2 {
    flex-basis: 100%;
  }

  .about-col-1 {
    margin-bottom: 30px;
  }

  .about-col-2 p {
    margin-top: 3px;
  }

  .about-col-2 {
    font-size: 14px;
    margin-left: 5px;
    text-align: center;
  }

  .award-col-2 {
    margin-top: -70px;
    margin-bottom: -30px;
  }

  .script-name {
    padding: 5px;
  }

  .adobe-col-1, .adobe-col-2 {
    flex-basis: 100%;
    display: inline-block;
  }

  .gallery img {
    width: 50%;
  }

  .responsive {
    width: 25%;
  }

  .footer-left img {
    margin-left: 30px;
  }

  .email {
    margin-right: -5px;
  }
  
  .footer-right {
    margin-right: 120px;
  }

  .company-name {
    margin-left: -30px;
  }

  .portfolio-nav {
    display: inline-block;
  }

  .portfolio-nav button {
    width: 10%;
    height: 10%;
  }

  .portfolio-nav button .fa-solid {
    font-size: 40px;
    margin-left: -50px;
    margin-top: -20px;
    width: 20%;
  }

  .portfolio-nav button .fa-brands {
    font-size: 40px;
    margin-left: -35px;
    margin-top: -20px;
    width: 20%;
  }

  .portfolio-nav button h2 {
    display: none;
  }

  #webdesign, #adobe {
    margin-top: -50px;
  }

  .webdesign-col-1, .webdesign-col-2 {
    flex-basis: 100%;
  }

  embed {
    width: 107%;
    margin-left: -10px;
  }

  #photoshop, #premiere, #illustrator {
    width: 100%;
  }

  #ae video, #premiere video {
    width: 90%;
  }

  #photoshop img, #illustrator img, #ae {
    width: 100%;
  }

  .figma-col-1, .figma-col-2 {
    flex-basis: 100%;
  }

  audio {
    width: 100%;
    margin-left: -1px;
  }

  .radio {
    display: inline-block;
  }
}